<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p><%=name%> <%=num%></p>
    <form action="/userlogout" method="post">
        <input type="submit" value="로그아웃"><br><br>
    </form>
    <h1>목록</h1>
    <% if (userclass == 'student') { %>
        <form action="/registerrecture" method="get">
            <input type="submit" value="수강신청"><br><br>
        </form>
        <form action="/mylecture" method="get">
            <input type="submit" value="내 강의 보기"><br><br>
        </form>
    <% } else { %>
        <form action="/makelecture" method="get">
            <input type="submit" value="강의 개설하기"><br><br>
        </form>
        <form action="/mylecture" method="post">
            <input type="submit" value="내 강의 보기"><br><br>
        </form>
    <% } %>
</body>
</html> 