<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강의등록</title>
</head>
<body>
    <p><%=name%> <%=num%></p>
    <h1>강의등록</h1>
    <form action="/addlecture" method="post">
        <label for="title">강의명:</label><br>
        <input type="text" id="title" name="title"><br><br>
        <label for="total">제한인원:</label><br>
        <input type="text" id="total" name="total"><br><br>
        <label for="credit">학점:</label><br>
        <input type="text" id="credit" name="credit"><br><br>
        <input type="submit" value="강의등록하기">
    </form>
    <%=message%>
</body>
</html>